<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="QuakeAnalysis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="mrt_swath_path" value="C:\DevLib\MRTSwath"/>
    <add key="modis_tmp_dir" value="modis_workspace\Tmp"/>
  </appSettings>
  <applicationSettings>
    <QuakeAnalysis.Properties.Settings>
      <setting name="DT" serializeAs="String">
        <value>震前多参数异常自动提取软件</value>
      </setting>
      <setting name="MOD02" serializeAs="String">
        <value>MOD02</value>
      </setting>
      <setting name="MYD02" serializeAs="String">
        <value>MYD02</value>
      </setting>
      <setting name="MOD04" serializeAs="String">
        <value>MOD04</value>
      </setting>
      <setting name="MYD04" serializeAs="String">
        <value>MYD04</value>
      </setting>
      <setting name="MOD05" serializeAs="String">
        <value>MOD05</value>
      </setting>
      <setting name="MYD05" serializeAs="String">
        <value>MYD05</value>
      </setting>
      <setting name="MOD11" serializeAs="String">
        <value>MOD11</value>
      </setting>
      <setting name="MYD11" serializeAs="String">
        <value>MYD11</value>
      </setting>
    </QuakeAnalysis.Properties.Settings>
  </applicationSettings>
</configuration>