NUM_RUNS = 1

BEGIN
INPUT_FILENAME = %1%
OBJECT_NAME = %2%
FIELD_NAME = %3%
BAND_NUMBER = %4%
OUTPUT_PIXEL_SIZE_X = %5%
OUTPUT_PIXEL_SIZE_Y = %6%
SPATIAL_SUBSET_UL_CORNER = ( %7% %8% )
SPATIAL_SUBSET_LR_CORNER = ( %9% %10% )
RESAMPLING_TYPE = %11%
OUTPUT_PROJECTION_TYPE = %12%
ELLIPSOID_CODE = %13%
OUTPUT_PROJECTION_PARAMETERS = %14%
OUTPUT_FILENAME = %15%
OUTPUT_TYPE = %16%
END
