INPUT_FILENAME = %1%
SPECTRAL_SUBSET = ( 1 )
SPATIAL_SUBSET_TYPE = %2%
SPATIAL_SUBSET_UL_CORNER = ( %3% %4% )
SPATIAL_SUBSET_LR_CORNER = ( %5% %6% )
OUTPUT_FILENAME = %7%
RESAMPLING_TYPE = %8%
OUTPUT_PROJECTION_TYPE = %9%
OUTPUT_PROJECTION_PARAMETERS = %10%
DATUM = %11%
OUTPUT_PIXEL_SIZE = %12%
