<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModisDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModisDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <ModisDownloader.Properties.Settings>
            <setting name="DialogTitle" serializeAs="String">
                <value>MODIS数据下载器</value>
            </setting>
        </ModisDownloader.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ModisDownloader.Properties.Settings>
            <setting name="MOD02Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MYD02Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MOD03Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MYD03Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MOD04Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MYD04Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MOD05Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MYD05Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MOD11Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MYD11Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MOD35Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MYD35Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartDate" serializeAs="String">
                <value />
            </setting>
            <setting name="StopDate" serializeAs="String">
                <value />
            </setting>
            <setting name="MinLng" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxLng" serializeAs="String">
                <value />
            </setting>
            <setting name="MinLat" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxLat" serializeAs="String">
                <value />
            </setting>
            <setting name="DayChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NightChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DayNightBoundaryChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadFolder" serializeAs="String">
                <value />
            </setting>
        </ModisDownloader.Properties.Settings>
    </userSettings>
</configuration>