
INPUT_FILENAME = %1%

GEOLOCATION_FILENAME = %2%

INPUT_SDS_NAME = %3%

OUTPUT_SPATIAL_SUBSET_TYPE = LAT_LONG
OUTPUT_SPACE_UPPER_LEFT_CORNER (LONG LAT) = %4% %5%
OUTPUT_SPACE_LOWER_RIGHT_CORNER (LONG LAT) = %6% %7%

OUTPUT_FILENAME = %8%
OUTPUT_FILE_FORMAT = GEOTIFF_FMT

KERNEL_TYPE (CC/BI/NN) = NN

OUTPUT_PROJECTION_NUMBER = EQRECT

OUTPUT_PROJECTION_PARAMETER = 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0

OUTPUT_PROJECTION_SPHERE = 8

OUTPUT_PIXEL_SIZE = 1000
